@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --fonte: font-family: 'Poppins';
    --branco: #fff;
    --preto: #000;
    --cor-fundo: #2C74B3;
    --cor-primaria: #FFF7E9;
}

body
{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    font-family: var(--fonte);
    font-weight: 500;
}

h1
{
    font-size: 5em;

}

h2{
    font-size: 5rem;
}


h3
{
    font-size: 2em;
    margin: 20px 20px;
}

.mensagem
{
    font-size: 1.5em;
    margin-top: 20px;
}

.box 
{
    border: 2px solid var(--branco);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 6em;
}

.btn-jogar
{
    background: none;
    border: 0;
    background-color: var(--cor-primaria);
    font-size: 1.5em;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 10px 10px;
}